/* .Employee{
    background-color: #C4C4C4;
} */

.Employeedetails{
    margin: 5px 20%;
    background-color: white;
  
}

.root{
    width: 300,
}

.EmpProfilephoto{
    height: 150px;
    align-items: center;
   background-color: #C4C4C4;;
}

.EmployeeDetailsTable td{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f2dede;
    /* max-width: 500px; */
}

.title{
    font-size: 1.1rem;
    font-weight: 550;
    
}

h2{
   text-align: center; 
}

.Bttns{ 
    height: 15%;
    background-color: #f1f1f1;
    color: black;
    display: inline-block;
    padding: 5px 16px;
    border: 1px solid #6c6e73;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-radius: 3px;
}

a{
    text-decoration: none;
    color: black;
}