/*
                    ==================================================
                                Lister Employee Portal
                    
                    DATED ON:                    CREATED AND EDITED BY
                        13th AUG 2021                        -- POD -M
                    ==================================================
                    
                    Contents

                      1. HeroBanner 
                          1.1 Welcome 
                          1.2 How it Works
                          1.3 Projects and skills
                          1.4 Acheivements
                      2. EmployeeSearch
                          2.1 Filter menu
                          2.2 Employees cards
                          2.3 Widgets used
                      3. Employee Details 
                          3.1 Details with respect to left, middle and right
                          3.2 Timeline Widgets

            NOTE: You can find respomsive details below with respect to each pages 


            !!! ALL RIGHTS ARE RESERVED LISTER TECHNOLOGIES !!!

          ========================================================================
            LAST-MODIFIED:

                  BY    :

                  DATE  :
          ========================================================================
*/

/*=========================== 1. Home page==================================*/
/* Bubble animation in the home page */

@-webkit-keyframes animateBubble {
  0% {
    margin-top: 10px;
  }
  100% {
    margin-top: -100%;
  }
}

@-moz-keyframes animateBubble {
  0% {
    margin-top: 10px;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes animateBubble {
  0% {
    margin-top: 10px;
  }
  100% {
    margin-top: -100%;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@-moz-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: -5%;
  top: 5%;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x2 {
  -webkit-animation: animateBubble 2s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 2s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 5s linear infinite,
    sideWays 4s ease-in-out infinite alternate;

  left: 5%;
  top: 80%;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x3 {
  -webkit-animation: animateBubble 2s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 2s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 7s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 10%;
  top: 40%;

  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
}

.x4 {
  -webkit-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;

  left: 20%;
  top: 0;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x5 {
  -webkit-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;

  left: 30%;
  top: 50%;

  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x6 {
  -webkit-animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 50%;
  top: 0;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
}

/* OBJECTS */

.bubble {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
    inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
    inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
    inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

  height: 10px;
  position: absolute;
  width: 10px;
}

.bubble:after {
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(255, 255, 255, 0.5)),
    color-stop(70%, rgba(255, 255, 255, 0))
  ); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  ); /* Opera 12+ */
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  ); /* IE10+ */
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

  content: "";
  height: 20px;
  left: 10px;
  position: absolute;
  width: 20px;
}

/* Achievement carousel widget customize style*/
.carousel-control-next,
.carousel-control-prev {
  color: black;
}

.carousel-indicators li {
  background-color: black;
}

/* Project section card css */
#card1 {
  position: relative;
  bottom: 45%;
  left: 65%;
  text-align: center;
  display: flex;
  clip: auto;
  word-wrap: break-word;
  /* opacity: 0.2; */
}
#card1 p {
  left: 1%;
  top: 65%;
  height: 100%;
  width: 100%;

  position: absolute;
}
#card2 {
  text-align: center;
  display: flex;
  clip: auto;
  word-wrap: break-word;
  position: relative;
  bottom: 25%;
  left: 15%;
}
#card2 p {
  left: 1%;
  top: 65%;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
#card3 {
  position: relative;
  bottom: 65%;
  left: 17%;
  /* opacity: 0.8; */
}
#card3 p {
  left: 1%;
  top: 65%;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
#card4 {
  position: relative;
  bottom: 40%;
  left: 55%;
  /* opacity: 0.5; */
}
#card4 p {
  left: 1%;
  top: 65%;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

#project {
  position: relative;
  top: 15%;
  left: 60%;
}

#projects {
  position: relative;
  right: 5%;
}

#Project_button {
  position: relative;
  top: 107px;
  right: -51px;
  font-size: large;
  font-weight: 800;
}
#target_icon {
  position: absolute;
  top: -1.1rem;
  left: -0.8rem;
  height: 160px;
  width: 160px;
}

#target_iconS4 {
  position: relative;
  bottom: 1rem;
  right: 1rem;
  height: 160px;
  width: 160px;
  z-index: 1;
}
#top_left {
  width: 100%;
  height: 100%;
}
#top_right {
  width: 100%;
  height: 100%;
  position: relative;
}
#bottom_left {
  width: 100%;
  height: 100%;
}
#bottom_right {
  width: 100%;
  height: 100%;
}
#skills {
  position: relative;
  top: 20%;
}
#skill1 {
  position: relative;
  bottom: 50%;
  right: 1%;
  text-align: center;
  display: flex;
  clip: auto;
  word-wrap: break-word;
  /* opacity: 0.2; */
}
#skill1 p {
  left: 1%;
  top: 65%;
  height: 100%;
  width: 100%;
  position: absolute;
}
#skill2 {
  text-align: center;
  display: flex;
  clip: auto;
  word-wrap: break-word;
  position: relative;
  bottom: 48%;
  left: 50%;
}
#skill2 p {
  left: 1%;
  top: 65%;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

#skill3 {
  position: relative;
  bottom: 35%;
  left: 50%;

  /* opacity: 0.8; */
}
#skill3 p {
  left: 1%;
  top: 65%;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
#skill4 {
  position: relative;
  bottom: 32%;
  left: 10%;
  /* opacity: 0.5; */
}
#skill4 p {
  left: 1%;
  top: 65%;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
/* class css */
.cards {
  margin: 0px;
  padding: 0;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  position: absolute;
  background-color: #faf5f5;
  opacity: 0.9;
  text-align: center;
  font-size: 1.5rem;
  align-content: space-between;
  justify-content: wrap;
  cursor: pointer;
  display: flex;
}
.cards h1 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  transition: all 0.5s ease;
}
.skills {
  position: relative;
  margin: 0px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2.5px dashed #ef6e25;
  animation: spin 5s;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(270deg);
    }
  }
}

.skillImage {
  opacity: 1;
  position: absolute;
  height: 60%;
  width: 65%;
  margin-top: 20px;
  justify-content: wrap;
  /* margin-left: 25px; */
  left: 20%;
  align-content: center;
}

.target_icon {
  position: absolute;
  top: -1.1rem;
  left: -0.8rem;
  height: 160px;
  width: 160px;
}
.ProjectCustomLogo {
  top: 28% !important;
  font-family: "Qahiri", sans-serif;
  font-weight: 600;
  justify-content: center;
  align-content: center;
  font-size: 1.3em !important;
  color: black;
}

.ProjectImage {
  position: absolute;
  width: 60%;
  margin-top: 38%;
  left: 20%;
  justify-content: center;
}

.wheels {
  position: relative;
  margin: 0px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2.5px dashed #ef6e25;
  animation: spin 5s;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(270deg);
    }
  }
}

.target_iconP {
  position: absolute;
  top: -1.1rem;
  left: -0.8rem;
  height: 160px;
  width: 160px;
}

@keyframes spin {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(270deg);
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  background: #ef6e25;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #ef6e25;
  border: solid 2px rgba(255, 255, 255, 0.47);
  transition: 0.4s;
  position: relative;
  bottom: 4.3%;
  left: 67%;
}
.btn a {
  color: black;
}
.btn:hover {
  color: black;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  text-decoration: none;
  border-style: dashed;
}

.btn_s {
  display: inline-block;
  text-decoration: none;
  background: #ef6e25;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #ef6e25;
  border: solid 2px rgba(255, 255, 255, 0.47);
  transition: 0.4s;
  position: relative;
  top: 0.5%;
  left: 8%;
}
.btn_s a {
  color: black;
}
.btn_s:hover {
  color: black;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  box-shadow: 0px 0px 0px 5px #ef6e25;
  text-decoration: none;
  border-style: dashed;
}

/*Responive for tab*/

@media (min-width: 600px) and (max-width: 950px) {
  #project {
    top: 15%;
    left: 55%;
  }
  .btn {
    bottom: 5%;
    left: 60.5%;
  }
  #card1 {
    bottom: 35%;
    left: 15%;
  }
  #card2 {
    bottom: 20%;
    left: 15%;
  }
  #card3 {
    bottom: 20%;
    left: 45%;
  }
  #card4 {
    bottom: 30%;
    left: 90%;
  }

  #skill1 {
    left: 65%;
    top: 35%;
  }
  #skill2 {
    left: 54%;
    bottom: 9%;
  }

  #skill3 {
    bottom: 45%;
    left: 29%;
  }
  #skill4 {
    bottom: 67%;
    left: -5%;
  }
  #skills {
    top: 65%;
    left: 5%;
  }
  .btn_s {
    top: 45%;
    left: 11%;
  }
}

.Achievements_title {
  padding-top: 5%;
  margin-left: 5%;
  font-weight: 700;
}
.Achievement_text {
  margin: 5% 15%;
  padding: 15px;
  padding-bottom: 10%;
}

.Achievements {
  background-color: #e5e5e5;
  /* margin-bottom: 2%; */
  margin: 2% 15%;
}
@media (max-width: 600px) {
  .Achievement_text {
    font-size: 0.5rem;
  }
  .carousel-caption p {
    font-size: 0.5rem;
    margin-bottom: -22px;
  }
}
.Achievments-container {
  padding: 5% 0%;
}
/* Project Section */

/* Welcome Section */
.lottie-2 {
  margin: auto;
  position: relative;
}
@media only screen and (max-width: 960px) {
  .lotties {
    display: none;
  }
  .lottie-2 {
    height: 70%;
    width: 75%;
  }
}
@media only screen and (max-width: 500px) {
  .lottie-2 {
    margin-left: 10%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 960px) {
  .lottie-2 {
    margin-left: 20%;
    height: 40%;
    width: 50%;
  }
}

#banner_header {
  font-size: 2rem;
  font-weight: 700;
  font-family: Dancing Script;
}
#banner_description {
  font-size: 1.5rem;
  font-family: serif;
  @media (max-width: 400px) {
    font-size: 1rem;
  }
}
#banner_sub {
  font-size: 1.5rem;
  margin: 0px auto;
  font-family: serif;
  @media (max-width: 400px) {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  #banner_header {
    font-size: 1.7rem;
  }
  #banner_sub,
  #banner_description {
    font-size: 1.3rem;
  }
}
#menu.active {
  transition-property: ease-in 1s;
  border-bottom: 2.5px solid #ef6e25;
}

Link {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

/*===========================================2. Employee Search===========================*/
.Employees {
  /* margin-top: 10px; */
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 400px 400px 400px 400px;
  padding-left: 3%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.avatar {
  position: relative;
  height: 100px;
  width: 100px;
  left: 35%;
  border-radius: 100%;
}
.avatar img {
  position: relative;
  top: 1px;
  border-radius: 50%;
  height: 90%;
}
.button {
  height: 15%;
  border-radius: 35px;
  background-color: #282936;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  padding: 12px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1%;
  font-weight: 600;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.Employee-details {
  position: relative;
  /* line-height: 50px; */
  background: #f1f1f1;
  border: none;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  z-index: 1;
  padding: 0px;
  border-radius: 7px;
  margin: 10px 0px;
  max-width: 300px;
  padding-top: 10px;
  padding-bottom: 0px;
  max-height: 350px;
}
.Employee-details:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #ff8c4b;
  z-index: -1;
  width: 400%;
  height: 1000%;
  transform-origin: 0% 0%;
  transform: translateX(calc(20% - 3px)) translateY(10%) rotate(-45deg);
  transition: transform 0.3s;
  transition-delay: 1.5s;
}
.Employee-details:hover::after {
  transform: translateY(10%) translateX(-277px) rotate(-45deg);
}

.Name {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
  text-overflow: ellipsis;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Employee-description {
  padding: 2px 16px;
}

.button a {
  text-decoration: none;
  color: white;
}

.filter-container {
  font-family: serif !important;
  padding-top: 1%;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 20% 80%;
  background-color: #e5e5e5;
}

.filter-containerMobile {
  font-family: serif !important;
  padding-top: 1%;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 20% 80%;
  background-color: #e5e5e5;
}

.experienceManuallyBox {
  width: 50px;
  margin-left: 5px;
}

.filterName {
  font-weight: 600;
  margin-left: 0px !important;
  padding-left: 0px !important;
  padding-top: 15px;
}

.PrimarySkillsTableCB td {
  text-align: left;
}

.Experience-overview {
  display: flex;
  align-items: baseline;
  height: 50px;
}

.exp-display {
  display: flex;
  align-items: baseline;
}
.reqForm {
  padding-left: 8%;
  padding-right: 7%;
  background-color: white;
  margin-top: 10px;
  margin-left: 17px;
  padding-bottom: 5%;
}
.check_label {
  margin: -0.5rem;
}
#outlined-basic {
  padding: 10px 8px;
  width: 90%;
}

.experienceSlider {
  width: 90%;
  padding-left: 5%;
  padding-bottom: 0%;
}

.showMore {
  text-decoration: none;
  color: #6c6e73;
}

.showMore:hover {
  text-decoration: none;
  color: #b12704;
}

.nextBack {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #e5e5e5;
  padding-left: 15%;
}

.nextBackBttn {
  /* height: 15%; */
  background-color: #f1f1f1;
  /* color: black; */
  display: inline-block;
  padding: 5px 10px;
  /* border: 1px solid #6c6e73; */
  /* border-color: #adb1b8 #a2a6ac #8d9096; */
  border-radius: 50%;
  margin-right: 4px;
}

.nextBackBttn:hover {
  background-color: #ddd;
  color: black;
}
.empCount {
  font-weight: 500;
}

.selectedTags {
  /* max-height: 120px; */
  grid-column: 1 / 4;
  max-width: 97%;
  height: fit-content;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  /* padding: 5px; */
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.tags {
  margin: 4px 4px;
  /* margin-bottom: 3px; */
}

.filtered-emp-count {
  display: flex;
  right: 0%;
  max-height: 40px;
  align-items: baseline;
}

label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* input{
  background: tomato !important;
 }
 
 .checkboxes:checked{
  background: tomato !important;
  background-color: tomato;
  color:tomato
 } */

.NoResult {
  align-items: center;
  /* padding-top: 5%; */
  width: auto;
  padding: 3% 5%;
}

.exp-linkedin,
.Manager-email {
  display: flex;
  justify-content: space-between;
}

.filter-icon {
  display: none;
}

.filtersContainer {
  /* width: 50%; */
  padding-left: 8%;
  padding-right: 7%;
  background-color: white;
  margin-top: 10px;
  margin-left: 17px;
  padding-bottom: 5%;
}

@media screen and (min-width: 1650px) {
  .Employees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 400px 400px 400px;
  }

  .selectedTags {
    grid-column: 1 / 5;
    padding-right: 5%;
  }
}

@media screen and (max-width: 1200px) {
  .Employee-details {
    padding-left: 2%;
  }
  .Experience-overview {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 80px;
  }

  .exp-display {
    display: flex;
    align-items: baseline;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1040px) {
  .Employee-details {
    max-width: 265px;
    max-height: 350px;
  }
}

@media screen and (max-width: 1039px) and (min-width: 950px) {
  .Employee-details {
    max-width: 240px;
    max-height: 330px;
  }
}

@media screen and (max-width: 949px) and (min-width: 700px) {
  .Employee-details {
    max-width: 290px;
    max-height: 350px;
    margin-right: 2%;
  }

  .filter-container {
    display: grid;
    grid-template-columns: 25% 75%;
  }

  .filter-containerMobile {
    display: grid;
    grid-template-columns: 25% 75%;
  }

  .Employees {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 400px 400px 400px 400px 400px 400px;
  }

  .selectedTags {
    grid-column: 1 / 3;
    padding-right: 5%;
  }
}

@media screen and (max-width: 700px) {
  .reqForm {
    display: none;
  }

  .filter-icon {
    display: inline;
    color: #2d2d2d;
  }

  #clear-icon {
    right: 2%;
  }

  .nextBack {
    padding-left: 0%;
  }

  .filter-container {
    display: grid;
    grid-template-columns: 1% 0% 95%;
  }

  .filter-containerMobile {
    display: grid;
    grid-template-columns: 0% 30% 70%;
  }

  .filtersContainer {
    /* width: 50%; */
    position: absolute;
    background-color: white;
    z-index: 1;
    display: inline;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 10px;
    margin-left: 17px;
    padding-bottom: 5%;
  }

  .Employees {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Employee-details {
    width: 350px;
    height: 400px;
  }

  /* #filter-icon{
  padding-top: 200%;
  } */
}

@media screen and (max-width: 700px) and (min-width: 550px) {
  .Employees {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 400px 400px 400px 400px 400px 400px;
  }
  .Employee-details {
    max-width: 270px;
    max-height: 340px;
    margin-right: 2%;
  }

  .selectedTags {
    grid-column: 1 / 3;
    padding-right: 5%;
  }
}

@media screen and (max-width: 549px) and (min-width: 450px) {
  .filter-containerMobile {
    display: grid;
    grid-template-columns: 0% 40% 60%;
  }
}

@media screen and (max-width: 449px) and (min-width: 300px) {
  .filter-containerMobile {
    display: grid;
    grid-template-columns: 0% 50% 50%;
  }
}

.Profile_icons {
  padding: 0px;
  padding-right: 45px;
  height: 30px;
}
.Profile_icons:hover {
  transform: translateY(-2px);
}

.Employee {
  background-color: #e5e5e5;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
}
#accomplishments::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  background-color: #f5f5f5;
}

#accomplishments::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#accomplishments::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #272727;
}
.wave {
  overflow: hidden;
  position: absolute;
  display: flex;
  width: 1110px;
  height: 1025px;
  /* position: relative; */
  top: -25%;
  left: 55%;
  border-radius: 35%;
  bottom: -10%;
  right: -10%;
  border-radius: 35%;
  background: rgba(117, 117, 117, 0.75);
  animation: wave 15s infinite linear;
}
@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
/* ==================== 3. Employee details page============================ */

.Employeedetails {
  margin: 5px 20%;
  background-color: #f4f4f2;
}

.root {
  width: 300;
}
.LeftDashboard-container {
  margin: 5px;
  position: relative;
  left: 5%;
  bottom: 2%;
  height: 97%;
  width: 95%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  border: 1px solid rgba(255, 255, 255, 0.18);
}
.EmpProfilephoto {
  border-radius: 50%;
  position: relative;
  width: 95px;
  bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.EmpProfilephoto:hover {
  transform: translateY(-2px);
}
.Avatar {
  position: relative;
  bottom: 5%;
  margin: auto;
  height: 25.7%;
  width: 100%;
  max-width: 300px;
}
.status-icon {
  left: 70%;
}
@media (min-width: 500px) and (max-width: 950px) {
  /* .EmpProfilephoto{
    margin: auto;
  } */
  .status-icon {
    left: 65%;
  }
}
#avatar-img {
  height: 100%;
  /* background-image: url(/home/raguram_s/Desktop/Spectrum/react/src/assets/avatardesign.png); */
  background-size: cover;
  animation: spin 3s ease 1;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LeftDashboard {
  position: relative;
  border-radius: 25px;
  margin: 20px 0px 0 20px;
  padding: 20px 20px 0 0px;
  display: flex;
  flex-wrap: wrap;
  height: 95%;
  width: 90%;
  border: 1px solid #fff;
  background: linear-gradient(to top right, #ff8303 50%, #ffffff 50%);
}
.Employee_name {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
  text-overflow: ellipsis;
  /* padding-left: 25px; */
  align-items: center;
  
}
.Employee_name:hover{
  color: #000;
}
.Designation {
  color: #e16428;
  font-size: 1rem;
  font-weight: 600;
  /* margin-left: 10px;
  padding-left: 25px; */
  align-items: center;
}
.title {
  font-size: 1.1rem;
  font-weight: 550;
}
.Leftdashborad_details {
  justify-content: space-around;
  text-align: center;
  position: relative;
  height: 75%;
  width: 90%;
  bottom: 10%;
  margin: auto;
  border-radius: 10px;
  /* background-color: #ffebcc; */
  /* max-width: 300px; */
}
/* h2 {
  text-align: center;
 } */
.Grid_align {
  position: relative;
  left: 6%;
  bottom: 8%;
  padding: 10px;
  font-weight: 550;
  width: 100%;
}
#MailTo {
  display: inline;
  color: "#282936";
  font-size: 12px;
}
.LeftDashboard_icon {
  display: "block";
  color: "#919191";
  left: 0;
}
.left-details {
  font-size: 0.9rem;
  margin-bottom: 0;
  color: #fff;
}
#Edit-btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
.button1 {
  position: relative;
  bottom: 8%;
  left: 2%;
  height: 10%;
  border-radius: 35px;
  background-color: #282936;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
  text-decoration: none;
  color: #fff;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

/*Left Dashboard style ends here
 /*Right and middle div*/
.right-container {
  width: 100%;
  display: flex;
  background-color: #f5f5f5;
}
/*
 Right Dasboard style follows below
 */
.RightDashboard {
  position: relative;
  right: 15%;
  display: flex;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  /* overflow: hidden; */
  flex-wrap: wrap;
  height: 95vh;
  width: 130%;
  margin-right: 0px !important;
  /* background-color: #ffebcc; */
}
.heading {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #e16428;
}
#bio-wrapper {
  height: 100px;
}

/*Middle dashboard*/
.MiddleDashBoard {
  position: relative;
  display: flex;
  border-radius: 25px;
  left: 3%;
  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;
  height: 95vh;
  width: 90%;
  /* min-width: 48%; */
  background-color: #272727;

  /* overflow: auto;
  scrollbar-color: #ec9a2f #e0e0e0;
  scrollbar-width: thin; */
}
.MiddleDashBoard::-webkit-scrollbar {
  width: 10px;
}
.MiddleDashBoard::-webkit-scrollbar-track {
  background-color: darkgrey;
}
.MiddleDashBoard::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/*Timeline Design*/

.text-center {
  position: relative;
  width: 75%;
  text-align: left !important;
  position: relative;
  bottom: 55%;
  left: 10%;
  color: #fff;
}

.text-center h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
.text-center h2 {
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
}
.text-center h3 {
  font-size: 1.1rem;
  font-style: italic;
}
.text-center p {
  margin-top: 20px;
  font-size: 1rem;
}
.past.dot-label {
  padding-bottom: 5px !important;
}

.present.dot-label {
  /* border: 2px solid #e16428 !important; */
  padding-bottom: 5px !important;
}

.future.dot-label {
  padding-bottom: 5px !important;
}

.events-wrapper ul:nth-child(1) li {
  background: #272727 !important;
  background-image: none !important;
}

.MiddleDashBoard > div > div > div > ul li {
  background-image: none !important;
}

/*media-queries for employee details page*/

@media all and (max-width: 900px) {
  .wave {
    display: none;
  }
  .RightDashboard {
    left: 1%;
    margin-right: 0%;
    width: 95%;
  }
  #status {
    width: 95%;
  }
  .MiddleDashBoard {
    /* left: 5%; */
    width: 90%;
  }
  .RightDashboard svg {
    display: none;
  }
}
@media screen and (min-width: 950px) {
  .Employee {
    overflow: hidden;
  }
}

.Profile-Nav:hover {
  color: #e9e9e9;
}

.notification-container {
  top: 10% !important;
}

.notification-count {
  position: absolute;
  top: -50%;
  margin-left: 15px;
  background-color: #e5e5e5;
  border-radius: 50%;
  align-items: center;
  padding: 0% 8%;
  font-size: 0.8rem;
  color: #858586;
  /* padding-top: 0% !important; */
}

.notification-section {
  position: relative;
  /* right: 5px; */
  padding: 0px 1.5rem;
}

.notification-success::before {
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
  content: "\f1fd" !important;
}
.notification-warning::before {
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
  content: "\f06b" !important;
  
 }


/* Org-chart  */

.org-tree {
  min-height: 100vh;
  background: white;
  width: fit-content;
  margin: 0 auto;
  padding: 2% 0%;
}
.org-container {
  background: white;
  padding: 3%;
  padding-top: 0.5%;
}

@keyframes increase {
  100% {
    height: 20px;
  }
}
.org-tree ul {
  padding-top: 2.5%;
  position: relative;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.org-tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 3px 0 3px;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.org-tree li::before,
.org-tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #2d2d2db3;
  width: 0%;
  height: 0px;

  -webkit-animation: drawLine 5s;
  -moz-animation: drawLine 5s;
  -o-animation: drawLine 5s;
  animation: drawLine 5s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

@keyframes drawLine {
  100% {
    width: 50%;
    height: 18px;
  }
}

.org-tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #2d2d2db3;
}

.org-tree li:only-child::after,
.org-tree li:only-child::before {
  display: none;
}

.org-tree li:only-child {
  padding-top: 12px;
}

.org-tree li:first-child::before,
.org-tree li:last-child::after {
  border: 0 none;
}

.org-tree li:last-child::before {
  border-right: 1px solid #2d2d2db3;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.org-tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

.org-tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #2d2d2db3;
  width: 0;
  height: 0px;
  -webkit-animation: increase 3s;
  -moz-animation: increase 3s;
  -o-animation: increase 3s;
  animation: increase 3s;
  animation-fill-mode: forwards;

  /* box-shadow: 0 0 7px orange,
 0 0 10px orange,
 0 0 21px orange,
 0 0 42px #bc13fe,
 0 0 82px #bc13fe,
 0 0 92px #bc13fe,
 0 0 102px #bc13fe,
 0 0 151px #bc13fe; */
}

.OrgCard {
  position: relative;
  padding-top: 50px;
  z-index: 1;
}

.OrgCard .image {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  z-index: 1;
}
.OrgCard .image img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  /* width: 55%; */
  border: 3px solid #96f6b7 !important;
}
.OrgCard .OrgCard-body {
  background: #fff;
  height: 56px;
  text-align: center;
  width: 15em;
  padding-top: 30px;
  border-radius: 5px;

  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */
  /* border: 1px solid #ff8303; */
  position: relative;
  /* z-index: -1; */
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid transparent;
}
.OrgCard .OrgCard-body ::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}
.OrgCard .OrgCard-body ::before :hover {
  animation: border-animation 5s ease forwards;
}
.OrgCard.OrgCard-body::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}
.OrgCard.OrgCard-body::after:hover {
  animation: border-animation 5s ease forwards;
}
.OrgCard-body-h4 {
  /* color: #fff !important; */
  font-weight: 600;
  font-size: medium !important;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.OrgCard-body-p {
  /* color: #f4f4f2 !important; */
  line-height: 20px;
  font-size: small;
}
.OrgCard .card-footer {
  padding: 3px;
  background: #96f6b7;
  text-align: center;
  bottom: 0;
  position: relative;
  width: 295px;
  border-radius: 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
}
.OrgCard .card-footer img {
  width: 25px;
  margin: 5px;
}

.name-profile-container {
  display: flex;
  flex-direction: row;
  height: 25px;
  justify-content: center;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.playIcon {
  height: 24px !important;
  padding-left: 20%;
  padding-bottom: 18%;
  /* opacity: 0; */
}
.empProfileNav {
  display: none;
}

.OrgCard-body:hover .empProfileNav {
  display: inline;
  transition: 2s ease all;
}

.empProfileNav a:hover {
  color: black;
}
.OrgCard .OrgCard-body:hover {
  animation: border-animation 3s ease forwards;

  /* border: 1px solid #ff8303; */
  transition: 3s ease;
}
@keyframes border-animation {
  0% {
    transition: 1s;
    border-top-color: #ff8303;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  25% {
    transition: 1s;
    border-top-color: #ff8303;
    border-right-color: #ff8303;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    transition: 1s;
    border-top-color: #ff8303;
    border-right-color: #ff8303;
    border-bottom-color: #ff8303;
    border-left-color: transparent;
  }

  100% {
    transition: 1s;
    border-top-color: #ff8303;
    border-right-color: #ff8303;
    border-bottom-color: #ff8303;
    border-left-color: #ff8303;
    background: rgba(255, 131, 3, 0.3);
  }
}

@keyframes border-animation-selected {
  0% {
    transition: 1s;
    border-top-color: #2c5c6d;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  25% {
    transition: 1s;
    border-top-color: #2c5c6d;
    border-right-color: #2c5c6d;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    transition: 1s;
    border-top-color: #2c5c6d;
    border-right-color: #2c5c6d;
    border-bottom-color: #2c5c6d;
    border-left-color: transparent;
  }

  100% {
    transition: 1s;
    border-top-color: #2c5c6d;
    border-right-color: #2c5c6d;
    border-bottom-color: #2c5c6d;
    border-left-color: #2c5c6d;
    background: rgba(127, 184, 204, 0.3);
  }
}
.selected-team {
  border-top: 1px solid;
  min-width: 35rem;
  padding: 1%;
  padding-top: 2.5%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -webkit-animation: forwardIncrease 4s ease-in;
  -moz-animation: forwardIncrease 4s ease-in;
  -o-animation: forwardIncrease 4s ease-in;
  animation: forwardIncrease 4s ease-in;
  animation-fill-mode: forwards;
  transition: 4s ease-in;
}

@keyframes forwardIncrease {
  0% {
    border-top: 2px solid transparent;
    width: 20%;
  }
  100% {
    border-top: 2px solid #2c5c6d;
    width: 100%;
  }
}

.selected-team::before {
  left: 20%;
  right: 20%;
  border-top: 1px solid #2c5c6d;
}
#team-card {
  padding: 1% 3%;
}
.org-tree ul:last-child::before {
  border-top: 1px solid #2d2d2db3;
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}
#selected-node {
  animation: border-animation-selected 3s ease forwards 1;
}
.searchWidget {
  display: flex;
  width: 30px;
  padding-top: 1%;
}
.searchIcon {
  display: none;
}
.SearchAutocomplete {
  display: none;
}

.searchWidget:hover .searchIcon {
  display: none;
}

.searchWidget:hover {
  width: 300px;
}

.searchWidget:hover .SearchAutocomplete {
  transition: all 0s ease-in;
  display: inline;
  animation: search-anime 1s ease 1 ;

  width: 300px;
}

@keyframes search-anime {
  0% {
    width: 40px;
    transition: ease;
 }
  100% {
    width: 300px;
    transition: ease;
 }
}
.MuiBreadcrumbs-li a:hover{
  color: black;
}

.circle {
  stroke: #f8aa28;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  -webkit-transition: all s ease-in-out;
  opacity: 0.3;
}
.playBut {
 /* border: 1px solid red;
 */
 margin-left: 10px;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
}
.playBut .triangle {
  -webkit-transition: all 0.7s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: #000;
  transform: translateY(0);
  color: black !important;
}
.OrgCard-body:hover .playBut  {
  stroke-dashoffset: 0;
  opacity: 1;
  /* stroke: #ff8303; */
  animation: nudge 1s ease-in-out;
  transition: 2s ease;
  color: black !important;
}
@keyframes nudge {
  0% {
    transform: translateX(0);
 }
  30% {
    transform: translateX(-5px);
 }
  50% {
    transform: translateX(5px);
 }
  70% {
    transform: translateX(-5px);
 }
  100% {
    transform: translateX(0);
 }
}
.playBut:hover  .circle {
  stroke-dashoffset: 0;
  opacity: 1;
}

